body{

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

h1{
    color: white;
}

header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(37,40,42,255) ;
    border-bottom: 6px solid rgba(18,146,213,255);
}

.span01{
    color: rgba(18,146,213,255);
}

.a01{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-weight: normal;
    font-size: 16px;

}

.a01:hover{

    color: rgba(18,146,213,255);
}

.nav{

    display: flex;
    align-content: center;
}

.section1{
    background-color: rgba(37,40,42,255) ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;

}


.div1{

    display: flex;
    align-items: center;
}

.p1{
    color: white;
    font-size: 22px;
}
.div1{

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 40px;

}

.label1{

    background-color: rgba(233,73,28,255);
    color: white;
    height: 32px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.input1{

    height: 30px;
    width: 250px;
}


.section2{

display: flex;
flex-direction: row;
margin-top: 20px;
}



form{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}

input{
    width: 700px;
    height: 30px;
    margin-bottom: 2px;
}

label{
    margin-bottom: 2px;
}

button{
    background-color:rgba(233,73,28,255) ;
    color: white;
    margin-top: 10px;
    height: 40px;
}


.div4{
    background-color:rgba(53,67,75,255) ;
    color: white;
    margin-left: 80px;
    width: 350px;
    height: 200px;
    padding: 20px;
}

.div3{
    margin-left: 70px ;
}



.img1{
    width: 390px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.imgg{
    margin-left: 80px;


}

footer{
    background-color: rgba(19,146,212,255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 30px;
}
